<form action="/cars" method="post">
    <h2>Create a car below:</h2> 
  <label for="year">Add a new car year</label>
  <input id="year" name="year" type="text">

  <label for="make">Add a new car make</label>
  <input id="make" name="make" type="text">

  <label for="model">Add a new car model</label>
  <input id="model" name="model" type="text">

  <label for="miles">Add a new car miles</label>
  <input id="miles" name="miles" type="text">

  <label for="price">Add a new car price</label>
  <input id="price" name="price" type="text">

  <button type="submit">Submit</button>
</form>